<% include partials/header %>
<link rel="stylesheet" href="app.css">
<h1>MY friend List</h1>
<h2>Friend list goes here</h2>
<% friends.forEach(function(friend){ %>
    <li> <%=friend %></li>
<% });%>

<% include partials/footer %>