<% include partials/header %>
<link rel="stylesheet" href="app.css">
<h1>MY friend List</h1>
<h2>Friend list goes here</h2>
<% friends.forEach(function(friend){ %>
    <li> <%=friend %></li>
<% });%>

<form action="/addFriend" method="POST">
    <input type="text" name="newFriend" placeholder="add new friend">
    <button>new friend Submit</button>
</form>

<% include partials/footer %>