<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>selector intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            background-color: rgb(221, 195, 45);
        }
    
    </style>
  
</head>
<body>
   <h1>I love mostly :  <%= varThing.toUpperCase() %> </h1>
  

   <p>Playing to:<span> 5</span></p>
   
    
</body>

</html>
